body{ 
	background:#fff;
	margin:auto;
	width:auto;
}
.header{
width:100%;
color:#ffffff;
background:#666666;
height:100px;
text-align:center;
border-bottom:5px;
font-size:5em;
list-style-type:none;
}

.sidebar{
	width:250px;
	float:left;
	border-right:5px solid #666666;
	height:600px;
	
}
#footer{
	text-align:bottom;
}
h1{
	font-size:1em;
}
h2,a{
	color:#666;
	text-decoration:none;
	text-align:center;
}